<!DOCTYPE html>
<html ng-app="madLibs">

<head>
<meta charset="UTF-8" />
<title>Document</title>
<link rel="stylesheet" type="text/css" href="style.css">
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://code.angularjs.org/1.3.10/angular.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-animate.js"></script>
<script src="app.js"></script>
</head>

<body ng-controller="myController">
<div class="topbar">
  <div class="logo">
  </div> 
  <div class="titlebox">
    <div class="madLibs"></div>
    <div class="titleAuto">Automate This!</div>
  </div>
</div> 
<div class="container">
  <div class="radios {{ inShow }}">
    <div class="announce">Choose your Pronouns!</div>

    <div class="moon">
    Moon Prounouns:
      <form>
        <span><input type="radio" ng-click="Moon = 'She'" name="moon" checked class="pronounChoice">She</span><br>
        <span><input type="radio" class="pronounChoice" name="moon" ng-click="Moon = 'He'" class="pronounChoice">He</span><br>
        <span><input type="radio" class="pronounChoice" name="moon" ng-click="Moon = 'They'" class="pronounChoice">They</span><br>
      </form>
    </div> <!-- moon -->

    <div class="sun">
    Sun Pronouns:
      <form>
        <span><input type="radio" class="pronounChoice" name="sun"  ng-click="Sun = 'She'" class="pronounChoice">She</span><br>
        <span><input type="radio" class="pronounChoice" name="sun" ng-click="Sun = 'He'" checked class="pronounChoice">He</span><br>
        <span><input type="radio" class="pronounChoice" name="sun" ng-click="Sun = 'They'" class="pronounChoice"> They</span><br>
      </form>
    </div> <!-- sun -->
  </div> <!-- radios -->


  <form name="wordIn" novalidate ng-submit="submit()" class="wordIn" >
    <div class="inputs {{ inShow }}">
      <div class="directions">Please Provide the Following Words:</div>
        <div class="inputBox">
          <input type="text" class="wordInput" ng-model="lighting_object" required placeholder="Object"/>
        </div>
        <div class="inputBox">
          <input type="text" required class="wordInput" ng-model="landscape" placeholder="Place" />
        </div>
        <div class="inputBox"><input type="text" class="wordInput" ng-model="descriptive_noun" placeholder="Character Trait (noun)" required/></div>
        <div class="inputBox">
            <input type="text" class="wordInput" ng-model="superlative" placeholder="Adjective" required/>
        </div>
        <div class="inputBox">
            <input type="text" class="wordInput" ng-model="landscape_item" placeholder="Object" required/>
        </div>
        <div class="inputBox">
            <input type="text" class="wordInput" ng-model="other_adjective" placeholder="Adjective" required/>
        </div>
        <div class="inputBox">
            <input type="text" class="wordInput" ng-model="time_of_day" placeholder="Time" required/>
        </div>
        <div class="inputBox">
            <input type="text" class="wordInput" ng-model="otherLightingObject" placeholder="Object" required/>
        </div>
        <div class="inputBox">
            <input type="text" class="wordInput" ng-model="adverb" placeholder="Adverb" required />
        </div>
        <div class="inputBox">
            <input type="text" class="wordInput" ng-model="adjective3"  placeholder="Adjective" required/>
        </div>
      	<div class="inputBox">
            <input type="text" class="wordInput" ng-model="adjective4"  placeholder="Adjective" required/>
        </div>
        <br>
        <div class="warning">You must fill out all words before continuing!</div><br>
        <div class="buttonhold"><input type="submit" class="button" name="Generate My Mad-lib"></div>
    </div> <!-- inputs -->
  </form>  <!-- wordIN -->

<div class="paragraph {{ parShow }}">
  <p>The <span class="wordbox" id="lightingshow">{{lighting_object}}</span> was shining on the <span class="wordbox">{{ landscape }}</span>, shining with all 
    <span ng-switch="Sun">
      <span ng-switch-when="He">his</span>
      <span ng-switch-when="She">her</span>
      <span ng-switch-when="They">their</span> <span class="wordbox">{{descriptive_noun}}</span>,
    </span></p>

  <p>doing 
    <span ng-switch="Sun">
      <span ng-switch-when="He" ng-click="{class: 'red'}">his</span>
      <span ng-switch-when="She">her</span>
      <span ng-switch-when="They">their</span>
    </span> 
    very <span class="wordbox">{{ superlative }}</span> to make the <span class="wordbox">{{ landscape_item }}</span> smooth and <span class="wordbox">{{ other_adjective }}</span></p>

  <p>and this was odd, because it was the middle of the <span class="wordbox">{{ time_of_day }}</span></p>

  <br>


  <p>The 
  <span class="wordbox">{{ otherLightingObject }}</span> was shining 
  <span class="wordbox">{{ adverb }}</span> because 
    <span ng-switch="Moon">
      <span ng-switch-when="She">she</span>
      <span ng-switch-when="He">he</span>
      <span ng-switch-when="They">they</span>
    </span> 
  thought the <span class="wordbox">{{ lighting_object }}</span></p>

  <p>had no business being there after the <span class="wordbox">{{ time_of_day }}</span> was done;</p>

  <p>It's very <span class="wordbox">{{ adjective3 }}</span> of 
    <span ng-switch="Sun">
      <span ng-switch-when="He">him,</span>
      <span ng-switch-when="She">her,</span>
      <span ng-switch-when="They">them,</span>
    </span>
    <span ng-switch="Moon">
      <span ng-switch-when="She"> she</span>
      <span ng-switch-when="He"> he</span>
      <span ng-switch-when="They"> they</span> 
    </span>
    thought, to come and spoil the <span class="wordbox">{{ adjective4 }}</span>!</p>
   <div class="buttonhold"><button class="button" ng-click="reset()">Reset</button></div>
  </div>  <!-- container -->




</body>

</html>