@charset "UTF-8";

body {
font-size: 1rem;
line-height: 2rem;
width:70%;
max-width:800px;
margin:auto;
}

html {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

.logo, .titlebox {
	height:100%;
  background-repeat:no-repeat;
  position: relative;
}

.logo {
	background-image: url("https://dl.dropboxusercontent.com/u/109941573/ng-mad-libs-logo.png");
  width: 20%;
  height:100%;
  background-size:contain;
  display:inline-block;
  position:relative;
  
  float:left;
  border-right:1px solid black;
  flex: 1 1 auto;
}

.titlebox {
  width: 79%;
  margin:0;
  height:100%;
  display:inline-block;
  position:relative;
  float:right;
  text-align:center;
  flex:4 4 auto;
}

.madLibs{
	height:50%;
	background-size:contain;
	background-image: url("https://dl.dropboxusercontent.com/u/109941573/ng-mad-libs-text.png");
  display:block; 
  position:relative;
  float:top;
  background-position:center;
  width:100%;
  background-repeat:no-repeat;
}
.titleAuto {
	display:block;
	height:45%;
	font-size:2rem;
	position:relative;
	float:bottom;
	width:100%;
}

.topbar {
 width:100%;
height: 25vh;
 position: relative;
 display:inline-block;
 border:1px solid black;
 margin:0;
 display:flex;
 flex-direction:row;
}

.container {
	border:1px solid black;
}

.wordbox {
display:inline-block;
width: 200px;
border-bottom: solid black 1px;
height:1.5rem;
text-align: center;
}

.inputs {
display:flex;
flex-direction: row;
flex-wrap: wrap;
border-bottom:1px solid black;
margin:0;
padding:0;
}

.inputBox{
flex: 1 1 auto;
width: 20vw;
text-align: center;
margin-bottom:5%;
height:2vh;
}

.wordInput {
text-align:center;
height:2vh;
}

.paragraph {
	line-height:2rem;
	padding:5%;
}

.directions {
	width:100%;
	height:10vh;
	font-size:1.5rem;
	padding-left:5%;
	margin-top:5vh;
  margin-bottom:0;
}

.moon, .sun {
  height:5%;
  width:20%;
  flex: 0 1 auto;
  position:relative;
  display:flex;
  flex-flow:column nowrap;
  padding:8px;
}

.radios {
  display:flex;
  justify-content:center;
  flex-flow: row wrap;
}

.announce {
  display:block;
  position:relative;
  width:100%;
  height:2em;
  font-size:1.5rem;
  padding-left:5%;
}

.pronounChoice {
  display:inline-block;
}

.buttonhold {
  width:100%;
  height:10%;
  display:block;
  position:relative;
  flex: 3 3 auto;
  display:flex;
  justify-content:center;
  margin-bottom:2%;
}

.button {
  flex: 1 1 auto;
  max-width: 10vw;
  height:2rem;
}

.red {
  -webkit-animation: red 1s ease-in-out;
  -moz-animation:red 1s ease-in-out;
  -o-animation: red 1s ease-in-out;
  animation: red 1s ease-in-out;
}

@-webkit-keyframes red {
  from{color: 'black';}
  50% {color: 'red';}
  to {color: 'black';}
}

@-moz-keyframes red {
  from{color: 'black';}
  50% {color: 'red';}
  to {color:'black';}
}

@-o-keyframes red {
  from{color: black;}
  50% {color: red;}
  to {color:black;}
}

@keyframes red {
  from{color: 'black';}
  50% {color: 'red';}
  to {color:'black';}
}

.red-add {
  
}

.warning {
  color:red;
  display:block;
  flex:3 3 auto;
  width:100%;
  text-align: center;
  margin-bottom:1rem;
}


.paragraph.ng-hide-remove {
  max-height:0;
  -webkit-transition:5s;
  transition:5s;
}


.paragraph.ng-hide-remove.ng-hide-remove-active, .paragraph.ng-hide-add  {
  -webkit-transition:5s;
  transition:5s;
  max-height:80vh;
}

.paragraph.ng-hide-add.ng-hide-add-active {
  -webkit-transition:5s;
  max-height: 0;
}

.radios.ng-hide-remove {
  max-height:0;
}


.radios.ng-hide-remove.ng-hide-remove-active, .radios.ng-hide-add  {
  -webkit-transition:5s;
  max-height:80vh;
}

.radios.ng-hide-add.ng-hide-add-active {
  -webkit-transition:5s;
  max-height: 0;
}

.inputs.ng-hide-remove {
  max-height:0;
}


.inputs.ng-hide-remove.ng-hide-remove-active, .inputs.ng-hide-add  {
  -webkit-transition:5s;
  max-height:80vh;
}

.inputs.ng-hide-add.ng-hide-add-active {
  -webkit-transition:5s;
  max-height: 0;
}

@keyframes grow {
  from {max-height:0;}
  to {max-height: 80vh;}
}

@-webkit-keyframes grow {
  0% {max-height:0;}
  100% {max-height: 80vh;}
}

@keyframes shrink {
  from {max-height: 80vh;}
  to {max-height: 0vh;}
}